python==3.6.9
Django==3.0.6
django-extensions==2.1.6
django-filter==2.3.0
django-modelcluster==5.0.2
django-six==1.0.4
django-test-plus==1.1.1
Jinja2==2.11.1
djangorestframework==3.11.0
django-filter==2.3.0