{% extends 'base.html' %}
{% block body %}
<style>
  
  .create {
    margin-left: 10rem;
    padding-top: 3rem;
}
  
</style>
    <form class="create" action="{% url 'user:create_dummy_data' %}" method="post">
        Username: <input type="text" name="name" required>
        <button type="submit">Create data</button>
      </form>  
    {% if user %}
    <p id="demo"></p>
    <button type="submit" onclick="show_json()">Json View</button><br>
        {% for key,value in user.items %}
            {% ifequal key 'members' %}
            {% for each in value %}
            <div class="card" style="width: 100rem; margin-left: 7rem;">
                <div class="card-body">
                  <h5 class="card-title">Member</h5>
                  <p class="card-text">{% for val_key,val_value in each.items %}
                  {{val_key}}:{{val_value}}<br>
                  {% endfor %}
                  </p>
                </div>
              </div>                    
            {% endfor %}
            {% endifequal %}
        {% endfor %}
    {% else %}
    <h4>No data<h4>
    {% endif %}
    
    <script>

        function show_json() {      
          document.getElementById("demo").innerHTML = '{{user}}';

        }
        </script>
        
{% endblock %}
